<!--

{% extends 'index.html' %}
{% load static %}
{% block content %}
{% block items %}
<body>  

<style>
    .column {
        float: left;
        width: 30%;
        padding: 25px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
</style>
<section>
    <div class="row">
        {% for items in items %}
        <div class="column">
            <center>
            <img src="{{items.item_image.url}}" width="250px" height="150px"><br>
            {{items.item_name}} <br>Price : RS.{{items.item_price}} <br> Country of origin : {{items.item_origin}}<br>
                    
            <br>
            ***comment here
            <form action="{% url "buynow" %}" method="POST">

                {% csrf_token %}
                <input type="submit" value="Buy Now" name="buynow" style="background-color: rgb(99, 109, 245);">    
            </form>
            <form action="{% url "AddToCart" %}" method="POST">

                {% csrf_token %}

                <input type="submit" value="Add to cart" name="addtocart" style="background-color: rgb(99, 109, 245);">
            </form>
        
        
            <a href="{% url "buynow" %}"><button>Buy Now</button></a>

            <a href="{% url "AddToCart" %}"><button>Add to Cart</button></a>
        ***close comment here
            
              
    </center>    
        </div>
        {% endfor %}
        
    </div>

    
</section>


<form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Homepage" name="Homepage">
</form>
{% endblock %}
<br><br><br><br><br><br>
{% endblock %}
</body>
-->